/*responsive*/
@media screen and (max-width: 930px) {
  #deleteall {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #addtaskbutton {
    font-size: 1;
    border-radius: 20px;
  }
}
@media screen and (max-width: 400px) {
  #text {
    font-size: 12px;
  }
  #title {
    font-size: 20px;
  }
  #taskwrite {
    margin-left: 1rem;
  }
}
* {
  font-family: "Roboto", serif;
  box-sizing: border-box;
}
#background {
  background-image: url(business-idea-doodle-seamless-pattern-background-business-success-creative-idea-concept-doodle-drawn-sketch-style-pattern-with-lightbulb-megaphone-calendar-element-vector_253081-1622.avif);
}
#modal {
  position: fixed;
  top: 0;
}
.tasks {
  border: 2px solid lightseagreen;
  border-radius: 4px;
  height: 5vh;
  width: fit-content;
  background-color: white;
  border: 6px solid light;

  color: black;
  margin-left: 27vw;
  margin-top: 2vh;
  font-size: 2rem;
  display: flex;

  align-items: center;
}
#addtaskbutton {
  width: fit-content;
  height: fit-content;
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 2rem;
  border-radius: 2px;
  border: 2px solid lightseagreen;
}
#addtaskbutton:hover {
  transition: 0.5s;
  transform: scale(0.9);
  color: rgb(151, 148, 148);
  border-color: rgba(0, 183, 255, 0.574);
}
#title {
  color: rgba(0, 0, 0, 0.359);
  font-size: 4rem;
  width: fit-content;
  margin: auto;
  margin-top: 23vh;
  text-transform: uppercase;
  -webkit-text-stroke: 3px lightseagreen;
}
#taskwrite {
  width: 40vw;
  height: 5vh;
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 2rem;
  border-radius: 4px;
  border: 6px solid lightseagreen;
  margin-left: 27vw;
  text-transform: uppercase;
}
#deletetask {
  width: 5vw;
  height: 5vh;
  background-color: darkgray;
  color: black;
  font-size: 3rem;
  border-radius: 50px;
}
#delete {
  width: fit-content;
  height: fit-content;
  background-color: white;
  border: 2px solid lightseagreen;
  color: black;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-left: 12vw;
}
#delete:hover {
  transform: scale(0.9);
}
#edit {
  width: fit-content;
  height: fit-content;
  background-color: white;
  color: black;
  font-size: 3rem;
  border: 2px solid lightseagreen;
  display: flex;
  justify-content: center;
}
#deleteall {
  width: fit-content;
  height: 5.5vh;
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 2rem;
  border-radius: 4px;
  border: 2px solid lightseagreen;
  text-transform: uppercase;
}
#deleteall:hover {
  transition: 0.5s;
  transform: scale(0.9);
  color: rgb(151, 148, 148);
  border-color: rgba(0, 183, 255, 0.574);
}
#text {
  font-size: 2rem;
  color: rgba(1, 1, 1, 0.739);
  text-transform: uppercase;
}
#check-box {
  width: 60px;
  height: 30px;
}
#task1 {
  width: fit-content;
}
